html,
body {
	height: 100%;
	font-family: Georgia, serif;
	background: #fff1e5;
	font-size: 1.2em;
}

h1.title{
	font-size: 2.1em;
}

.main{
	padding: 10px;
	padding-bottom: 100px;
	min-width: 800px;
	max-width: 1200px;
}

.container{
	display: flex;
}

.chart-wrapper{
	display: flex;
	flex:2;
}

.chart{
	flex: 1;
	padding: 0 1.5em;
}

.chart img{
	max-height: 600px;
}

.info-box{
	font-family: sans-serif;
	flex: 1;
	font-size: 0.7em;
	padding:0 1.5em;
	background: #ffebd9;

}


#chart-controls{
	display: flex;
	justify-content: center;
	font-family: sans-serif;
	font-size: 0.7em;
	margin: 20px 0;


}

select{
	padding: 2px;
}
